@media screen and ( max-width: 1211px )
    header
        .menu
            .logo
                width: 90%
@media screen and ( max-width: 1068px )
    .listPaciente
        .contenedor-paciente
            .listado-paciente
                .paciente                   
                    width: 25%
@media screen and ( max-width: 882px )
    .listPaciente
        .contenedor-paciente
            .listado-paciente                
                .paciente
                    width: 40%
@media screen and ( max-width: 756px )
    header
        .menu
            .contenedor-header
                .btnPanel
                    label
                        position: fixed
                        display: inline-block
                .item
                    display: none  
                    
@media screen and ( max-width: 629px )
   
                    
    .listPaciente
        .contenedor-paciente
            .listado-paciente                
                .paciente
                    width: 75%