.listPaciente
    background: url('../img/cross/checkerboard-cross.png')    
    background-repeat: repeat
    width: 100%
    min-height: 76.5vh
    padding: 30px 0
    border-bottom: 1px ridge black
    .contenedor-paciente
        width: 95%
        margin: auto
        overflow: hidden
        .agregar-paciente
            width: 100%
            .nuevo
                float: left
                position: absolute
                margin-left: 76%
                background: rgb(0, 233, 196)
                color: #fff
                border: none
                border-radius: 100px
                padding: 10px 40px
                font-weight: 700
                cursor: pointer
                outline: none
        .listado-paciente
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: center
            margin-top: 35px
            .paciente
                background: #ffffff
                text-align: center
                width: 20%
                padding: 28px 0px
                margin: 15px 25px
                font-weight: 500
                -webkit-box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.35)
                box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.25)
                .detalle 
                    margin: auto
                    background: #3895ea
                    color: #fff
                    border: none
                    border-radius: 100px
                    padding: 10px 40px
                    cursor: pointer
                    outline: none
                    &:hover 
                        background: #0060fb